@mixin cancelBtn {
  position: absolute;
  top: -1rem;
  left: 0rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100000000000000000000rem; //🙄🙄🙄
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin defaultTransition {
  transition: all 0.3s;
}
